appdirs==1.4.3
Babel==2.4.0
beautifulsoup4==4.6.0
chardet==2.3.0
dbfread==2.0.4
feedparser==5.2.1
future==0.15.2
html5lib==0.999999999
ijson==2.3
meza==0.37.0
mezmorize==0.18.2
packaging==16.8
pygogo==0.10.0
pyparsing==2.2.0
python-dateutil==2.6.0
python-slugify==0.0.9
pytz==2017.2
PyYAML==3.12
requests==2.14.2
riko==0.51.0
six==1.10.0
Unidecode==0.4.20
webencodings==0.5.1
Werkzeug==0.12.2
xlrd==0.9.4
